<h1>Список пользователей <ng-template [ngIf]="users == 0">пуст</ng-template></h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>User</td>
            <td>Role</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of users">
            <ng-template [ngIf]="user?.id != p.id" [ngIfElse]="edit">
                <td>{{p?.name}}</td>
                <td></td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editUser(p)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="user.name" class="form-control" />
    </td>
    <td>
        <!--<select class="form-control" [(ngModel)]="company">
            <option *ngFor="let comp of companies" [value]="comp">
                {{comp}}
            </option>
        </select>-->
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="user.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Role</label>
        <input type="text" [(ngModel)]="user.Role" class="form-control" />
        
        <!--<select class="form-control" name="company" [(ngModel)]="company">
            <option *ngFor="let comp of companies" [value]="comp">
                {{comp}}
            </option>
        </select>-->
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>